<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a href="#/home"><span class="navbar-brand">LLAMA</span></a>
    </div>
    <div class="navbar-header pull-right">
        <a href="#/dev"><span class="navbar-brand">Developer's Info</span></a>
    </div>
</nav>

<br>

<div class="container-fluid">
    <h2 class="h2-settings">
        About Me
    </h2>

    <div class="container">

        <div class="row">
            <div class="facts col-xs-6">
                Name : Vishruth Krishna Prasad.
            </div>
            <div class="facts col-xs-6">
                Email: krishnaprasad.v@husky.neu.edu
            </div>
            <div class="facts col-xs-6">
                Phone: (617) 792-6820
            </div>
            <div class="facts col-xs-6">
                University: Northeastern University, Boston, MA.
            </div>
        </div>

        <div class="facts row">
            Experience:
            <p>Worked as Javascript Programmer - Graduate Research Assistant [June - Aug 2017]</p>
            <p>Developed a webapp using Electron and used AngularJS as front end and NodeJS as back end.
                It is currently used by <b>University of Southern California</b>,
                <b>Temple University</b> and <b>Northeastern University.</b></p>
        </div>

        <div class="facts row">
            <p>Front-End Developer are one of the very few positions where a creative mind can express its thoughts and
                display its strength to the public with pride. They are artists who convert imagination
                to products that are visually appealing to the consumers.</p>
            <p>Since my childhood I have always loved being creative in the form of drawing, shading and painting.
                Now as a Graduate Student studying at Northeastern University where I learned Website Development,
                my interests around the same have heightened to the maximum.</p>
            <p>Zappos will help me achieve this dream of being an innovative, creative Computer Science Student with
            valuable industrial experience which will help me in my future endeavours of being a Full Time Web Developer.</p>
        </div>
    </div>

    <h2 class="h2-settings">
        About Website
    </h2>

    <div class="container">
        <p>The website is divided to 6 pages</p>
        <ul class="list-group">
            <li class="wrap-text list-group-item head" ng-repeat="page in model.pages">
                {{page}}
            </li>
        </ul>
    </div>
</div>

<br>