<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#/home">
            <span class="pull-right glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="navbar-brand">LLAMA Wiki</span>
    </div>
</nav>



<div class="row container-fluid hidden-xs">
    <div class="col-xs-4">
        <h2 class="h2-settings">
            Classification
        </h2>

        <ul class="list-group">
            <li class="wrap-text list-group-item head">
                Kingdom: Animalia
            </li>
            <li class="wrap-text list-group-item head">
                Phylum: Chordata
            </li>
            <li class="wrap-text list-group-item head">
                Class: Mammalia
            </li>
            <li class="wrap-text list-group-item head">
                Order: Artiodactyla
            </li>
            <li class="wrap-text list-group-item head">
                Family: Camelidae
            </li>
            <li class="wrap-text list-group-item head">
                Genus: Lama
            </li>
            <li class="wrap-text list-group-item head">
                Species: L. glama
            </li>
        </ul>
    </div>




    <div class="col-xs-8">
        <h2 class="h2-settings">
            Did You Know...?
        </h2>
        <div class="inbox-body">
            <div class="facts container-fluid">
                Llamas are members of the camelid, or camel, family.
            </div>
            <div class="facts container-fluid">
                Camelids first appeared on the Central Plains of North America about 40 million years ago.
                About 3 million years ago, llamas' ancestors migrated to South America.
            </div>
            <div class="facts container-fluid">
                Llamas were first domesticated and used as pack animals 4,000 to 5,000 years ago by Indians
                in the Peruvian highlands.
            </div>
            <div class="facts container-fluid">
                Llamas can grow as much as 6 feet tall.
            </div>
            <div class="facts container-fluid">
                Llamas weigh 280 to 450 pounds and can carry about a quarter of their body weight,
                so a 400-pound male llama can carry about 100 pounds on a trek of 10 to 12 miles with no problem.
            </div>
            <div class="facts container-fluid">
                Llamas know their own limits. If you try to overload a llama with too much weight,
                the llama is likely to lie down or simply refuse to move.
            </div>
            <div class="facts container-fluid">
                In the Andes Mountains of Peru, llama fleece has been shorn and used in textiles for about 6,000 years.
                Llama wool is light, warm and water-repellent.
            </div>
            <div class="facts container-fluid">
                Llamas are hardy and well suited to harsh environments.
            </div>
            <div class="facts container-fluid">
                Llamas are smart and easy to train.
            </div>
            <div class="facts container-fluid">
                Llamas are vegetarians and have efficient digestive systems.
            </div>
        </div>
        <br>
    </div>


</div>


<div class="visible-xs container-fluid">
    <h2 class="h2-settings">
        Classification
    </h2>

    <ul class="list-group">
        <li class="wrap-text list-group-item head">
            Kingdom: Animalia
        </li>
        <li class="wrap-text list-group-item head">
            Phylum: Chordata
        </li>
        <li class="wrap-text list-group-item head">
            Class: Mammalia
        </li>
        <li class="wrap-text list-group-item head">
            Order: Artiodactyla
        </li>
        <li class="wrap-text list-group-item head">
            Family: Camelidae
        </li>
        <li class="wrap-text list-group-item head">
            Genus: Lama
        </li>
        <li class="wrap-text list-group-item head">
            Species: L. glama
        </li>
    </ul>



    <h2 class="h2-settings">
        Did You Know...?
    </h2>
    <div class="inbox-body">
        <div class="facts container-fluid">
            Llamas are members of the camelid, or camel, family.
        </div>
        <div class="facts container-fluid">
            Camelids first appeared on the Central Plains of North America about 40 million years ago.
            About 3 million years ago, llamas' ancestors migrated to South America.
        </div>
        <div class="facts container-fluid">
            Llamas were first domesticated and used as pack animals 4,000 to 5,000 years ago by Indians
            in the Peruvian highlands.
        </div>
        <div class="facts container-fluid">
            Llamas can grow as much as 6 feet tall.
        </div>
        <div class="facts container-fluid">
            Llamas weigh 280 to 450 pounds and can carry about a quarter of their body weight,
            so a 400-pound male llama can carry about 100 pounds on a trek of 10 to 12 miles with no problem.
        </div>
        <div class="facts container-fluid">
            Llamas know their own limits. If you try to overload a llama with too much weight,
            the llama is likely to lie down or simply refuse to move.
        </div>
        <div class="facts container-fluid">
            In the Andes Mountains of Peru, llama fleece has been shorn and used in textiles for about 6,000 years.
            Llama wool is light, warm and water-repellent.
        </div>
        <div class="facts container-fluid">
            Llamas are hardy and well suited to harsh environments.
        </div>
        <div class="facts container-fluid">
            Llamas are smart and easy to train.
        </div>
        <div class="facts container-fluid">
            Llamas are vegetarians and have efficient digestive systems.
        </div>
    </div>
    <br>
</div>



<hr>

<div class="container-fluid">
    <p><b>Note:</b></p>
    <p>All content posted above are shared without permission</p>
    <p>I do not own any rights to the content.</p>
</div>
<br>