<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#/home">
            <span class="pull-right glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="navbar-brand">LLAMA Wiki</span>
    </div>
</nav>



<div class="row container-fluid hidden-xs">
    <div class="col-xs-4">
        <h2 class="h2-settings">
            Classification
        </h2>

        <ul class="list-group">
            <li class="wrap-text list-group-item head" ng-repeat="fact in model.classification">
                {{fact}}
            </li>
        </ul>
    </div>




    <div class="col-xs-8">
        <h2 class="h2-settings">
            Did You Know...?
        </h2>
        <div class="inbox-body">
            <div class="facts container-fluid" ng-repeat="fact in model.wiki">
                {{fact}}
            </div>
        </div>
        <br>
    </div>


</div>


<div class="visible-xs container-fluid">
    <h2 class="h2-settings">
        Classification
    </h2>

    <ul class="list-group">
        <li class="wrap-text list-group-item head" ng-repeat="fact in model.classification">
            {{fact}}
        </li>
    </ul>



    <h2 class="h2-settings">
        Did You Know...?
    </h2>
    <div class="inbox-body">
        <div class="facts container-fluid" ng-repeat="fact in model.wiki">
            {{fact}}
        </div>
    </div>
    <br>
</div>



<hr>

<div class="container-fluid">
    <p><b>Note:</b></p>
    <p>All content posted above are shared without permission</p>
    <p>I do not own any rights to the content.</p>
</div>
<br>