<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a href="#/home"><span class="navbar-brand">LLAMA</span></a>
    </div>
    <div class="navbar-header pull-right">
        <a href="#/dev"><span class="navbar-brand">Developer's Info</span></a>
    </div>
</nav>




<div class="menu" id="homepage">
    <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
        <!--<img id="llamapic" src="../images/llama.png">-->
    </label>
    <a href="#/nutrition" class="menu-item item-1"> <i class="fa fa-cutlery"></i> </a>
    <a href="#/llama_map" class="menu-item item-2"> <i class="fa fa-map"></i> </a>
    <a href="#/quiz" class="menu-item item-3"> <i class="fa fa-pencil-square-o"></i> </a>
    <a href="#/encyclopedia" class="menu-item item-4"> <i class="fa fa-graduation-cap"></i> </a>
</div>
