<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/home">
                <span class="pull-right glyphicon glyphicon-menu-left"></span>
            </a>
            <span class="navbar-brand">LLAMA Quiz</span>
        </div>
    </nav>

</nav>

<br>
<div class="container-fluid" ng-hide="model.completed">
    <h4 class="h2-settings">
        Below are a series of True/False questions (10 questions). Choose the option you feel is correct.
    </h4>
    <div class="fact-body">
    <div class="facts container-fluid" ng-repeat="ques in model.questions" ng-show="ques.val">
        <p>{{ques.question}}</p>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <label class="radio-inline"><input type="radio" ng-model="bool" ng-value="1">True</label>
                <label class="radio-inline"><input type="radio" ng-model="bool" ng-value="2">False</label>
            </div>

            <div class="col-xs-6">
                <button ng-show="bool" ng-click="model.nextQuestion(bool, ques)" class="wrap-text btn btn-success btn-block" type="button">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid" ng-show="model.score">
    <br>
    <div class="facts head" id="score">
        <p>Your score  = {{model.points}} / 10</p>
        <hr>
        <p ng-show="model.wronganswers.length > 0">Questions that you answered wrong are given in the following table</p>
        <p ng-hide="model.wronganswers.length > 0">Congratulations! You have answered all questions correctly!</p>
    </div>

    <br>

    <table class="table table-hover table-bordered">
        <thead>
        <!--<tr class="success">-->
            <!--<th colspan="2">-->
                <!--Your score  = {{model.points}}-->
            <!--</th>-->
        <!--</tr>-->
        <!--<tr class="success" ng-show="model.wronganswers.length > 0">-->
            <!--<th colspan="2">-->
                <!--Questions that you answered wrong-->
            <!--</th>-->
        <!--</tr>-->
        <!--<tr class="success" ng-hide="model.wronganswers.length > 0">-->
            <!--<th colspan="2">-->
                <!--Congratulations! You have answered all questions correctly!-->
            <!--</th>-->
        <!--</tr>-->
            <tr class="success" ng-show="model.wronganswers.length > 0">
                <th>
                    Question
                </th>
                <th>
                    Correct Answer
                </th>
            </tr>
        </thead>

        <tbody>
        <tr class="success" ng-repeat="qa in model.wronganswers">
            <td>
                {{qa.question}}
            </td>
            <td>
                {{qa.answer}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>